.top_buffer { margin-top:20px; }
.bottom_buffer{margin-bottom: 20px}
.left_buffer{margin-left: 20px}
label.label_check{height: 21px;}
.has-js .label_check, .has-js .label_radio {
    padding-left: 26px!important;
    margin: -2px!important;
    margin-bottom: -1px!important;
}
.check_col{position: relative;
    left: -2px;
    bottom: 4px;}
.check_row{position: relative;
    top: -2px;}
.check_row{
    margin-top: 2px!important;
    margin-left: 2px!important;
    margin-bottom: 2px!important;
    margin-right: 8px!important;
}
.check_col{
    margin-top: 8px!important;
    margin-left: 2px!important;
    margin-bottom: 2px!important;
    margin-right: 2px!important;
}
.employer_panel{
    display: none;}

.account-id-wrapper{
    color: rgb(255, 255, 255);
    padding: 10px;
}

.site-name-pensil{
    display: none;
    width: 38px;
    height: 30px;
}
